{% extends 'base.html.twig' %}

{% block title %}Nouveau editeur{% endblock %}

{% block body %}
    <h1>Créer nouveau éditeur</h1>

    {{ include('editeur/_form.html.twig') }}

    <a href="{{ path('editeur_index') }}">back to list</a>
{% endblock %}
