{% extends 'base.html.twig' %}
{% block body %}
    <tbody>
    <p>
        <b>Prénom:</b>{{ auteur.prenom }}</br>
        <b>Nom:</b>{{ auteur.nom }}<br>
        <b>Biographie:</b>{{ auteur.biographie }}<br>
    <hr>
    <br>
    <a href="{{ path('index_auteur') }}">Retour</a>
    </p>
    </tbody>
{% endblock %}