{% extends 'base.html.twig' %}
{% block title %}Editer auteur{% endblock %}

{% block body %}
    {{ form_start(frm) }}
    {{ form_end(frm) }}
    <a href="{{ path('index_auteur') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i></span></a>

{% endblock %}
