<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bienvenue Bibliothéque!</div>
        <div class="masthead-heading text-uppercase">Ravi de vous rencontrer
        </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Plus Détails</a>
    </div>
</header>