<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="{{ path('index_auteur') }}"><i class="fa fa-dashboard"></i> Auteurs</a>
            </li>
            <li>
                <a href="{{ path('categorie_index') }}"><i class="fa fa-desktop"></i> Catégorie</a>
            </li>
            <li>
                <a href="{{ path('editeur_index') }}"><i class="fa fa-desktop"></i> Editeurs</a>
            </li>
            <li>
                <a href="{{ path('livre_index') }}"><i class="fa fa-desktop"></i> Livres</a>
            </li>

        </ul>
    </div>

</nav>