<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bibliothéque</a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger"  href="{{ path('accueil') }}">catalogue
                    </a></li>

                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Qui Sommes nous?</a></li>



                <ul class="nav navbar-top-links navbar-right">
                    {% if app.user.email is defined %}
                        <li>    {{ app.user.email }}</li>
                    {% endif%}
                    <li class="dropdown">
                        <a  data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">

                            <li class="divider"></li>
                            {% if app.user.email is defined %}
                            <li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                            {% endif%}
                            {% if app.user.email is not  defined %}
                            <li><a href="{{ path('app_login') }}"><i class="fa fa-user fa-fw "></i> Login</a></li>
                            {% endif%}

                        </ul>

                    </li>


                </ul>
            </ul>
        </div>
    </div>
</nav>